---
permalink: /feed.json
sitemapIgnore: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title":  "{{ env.title }}",
  "description" : "{{ env.feedSubtitle }}",
  "home_page_url": "https://{{ env.url }}",
  "feed_url": "https://{{ env.url }}{{ permalink }}",
  "author": {
    "name": "{{ env.author }}"
  },
  "items": [
    {%- for post in collections.post  %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(env.url) }}{% endset %}
    {
      "id": "https://{{ env.url }}{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "url": "https://{{ env.url }}{{ absolutePostUrl }}",
      "date_published": "{{ post.date | rssDate }}",
      "content_html": "{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | inlineHTML  }}"
    }{{ "," if not loop.last }}
    {%- endfor %}
  ]
}