---
permalink: /feed.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ env.title }}</title>
  <subtitle>{{ env.feedSubtitle }}</subtitle>
  <link href="https://{{ env.url }}{{ permalink }}" rel="self"/>
  <link href="https://{{ env.url }}"/>
  <updated>{{ collections.posts }}</updated>
  <id>https://{{ env.url }}</id>
  <author>
    <name>{{ env.author }}</name>
    <email>{{ env.email }}</email>
  </author>
  {%- for post in collections.post  %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(env.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://{{ env.url }}{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>https://{{ env.url }}{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | inlineHTML }}</content>
  </entry>
  {%- endfor %}
</feed>
