---
permalink: manifest.webmanifest
sitemapIgnore: true
---
{
  "name":  "{{ env.title  }}",
  "short_name": "{{ env.title }}",
  "developer": {
      "name": "{{ env.author }}",
      "url": "https://github.com/dobladov/last-time"
  },
  "start_url": "//{{ env.url }}",
  "description": "{{ env.description }}",
  "lang": "en-US",
  "display": "standalone"
}

